<div style="margin-top: 3%;">
    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">{{car.nameCar}}</h3>
                                    </div>
                                    <h6 class="h5 mb-0"> <span>Type Engine: </span>{{car.typeEngine}}</h6>
                                    <p class="text-muted mt-2 mb-5"><span>Price: </span> {{car.price}} $</p>
                                    <button routerLink='/home' class="btn btn-dark btn-block">Back</button>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"><img src="{{car.img}}" width="420" height="430"></div>
                                    <div class="account-testimonial">
                                        <p class="lead text-black">{{car.desc}}</p>
                                        <p>- Admin User</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>